/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 98%;
    height: 100vh;
    background-color: grey;
    padding: 20px;
    margin-right: 25px;
}
#header{
    min-height: 150px;
    background-color: purple;
    margin-bottom: 20px;
}
#navigation{
    min-height: 500px;
    width: 20%;
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
#main_content{
    padding: 1%;
    min-height: 600px;
    width: 76.9%;
    background-color: blue;
    display: inline-block;
}
.subcontents{
    min-height: 350px;
    width: 30%;
    background-color: yellow;
    margin-right: 15px;
    display: inline-block;
}
#advertisement{
    margin-top: 15px;
    min-height: 200px;
    width: 91%;
    background-color: green;
}